apiVersion: v1
kind: Pod
metadata:
  name: mssql-controller
  labels:
    app: mssql-controller
spec:
  imagePullSecrets:
  - name:  mssql-private-registry
  containers:
  - name: mssql-controller
    image: $DOCKER_REGISTRY/$DOCKER_REPOSITORY/mssql-controller:$DOCKER_IMAGE_TAG
    ports:
    - name: controller-port
      containerPort: 8080
    env:
    - name: CONTROLLER_USERNAME
      value: $CONTROLLER_USERNAME
    - name: CONTROLLER_PASSWORD
      value: $CONTROLLER_PASSWORD
---

apiVersion: v1
kind: Service
metadata:
  name: mssql-controller
spec:
  selector:
    app: mssql-controller
  type: LoadBalancer
  ports:
  - name: port-1
    port: 30080
    protocol: TCP
    targetPort: controller-port
