apiVersion: v1
kind: Secret
metadata:
  name: mssql-compute-pool-secret
type: Opaque
data:
  mssql-compute-pool-sa: $BASE64_ENCODED_MSSQL_SA_PASSWORD
  mssql-compute-pool-external: $BASE64_ENCODED_MSSQL_EXTERNAL_PASSWORD
  mssql-compute-pool-import: $BASE64_ENCODED_MSSQL_IMPORT_PASSWORD
